html,body{
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
.view{
    max-width: 100%;
    height: 100vh;
}
.hint{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.view-box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
}
.view-content{
    width: 750px;
    height: 1334px;
    position: relative;
}
    .baseLayer{
        max-width: 750px;
        height: auto;
        position: absolute;
    }
    .textBox{
        max-width: 1000px;
        height: auto;
        position: absolute;
        top: 660px;
        left: 30px;
    }
    .logo{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 160px;
        left: 230px;
    }
    .studentID{
        max-width: 100%;
        height: auto;
        position: absolute;
        top:580px;
        left: 60px;
    }
    .pottedPlant2{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 530px;
        left: 600px;
    }
    .password{
        max-width: 100%;
        height: auto;
        position: absolute;
        top:780px;
        left: 60px;
    }
    .bacterium{
        max-width: 100%;
        height: auto;
        position: absolute;
        top:822px;
        left: 580px;
    }
    .login{
        max-width: 100%;
        height: auto;
        position: absolute;
        top:910px;
        left: 500px;
    }
    .Text{
        width: 330px;
        height: 50px;
        max-width: 100%;
        border: 0;
        background-color: rgb(252, 243, 224);
        font-size: 40px;
        color: rgb(155, 122, 122);
        outline: 0;
        font-family: 'ftmaru400a';
    }
        .studentIDText{
            position: absolute;
            top:595px;
            left: 230px;
        }
        .passwordText{
            position: absolute;
            top:795px;
            left: 230px;
        }
    .submit{
        max-width: 100%;
        width: 138px;
        height: 154px;
        position: absolute;
        top:910px;
        left: 500px;
        opacity: 0;
    }