@font-face {  
    font-family: ftmaru400a;  
    src: url('../fonts/id-ftmaru400a-2.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {  
    font-family: QingSongShouXieTi1-2;  
    src: url('../fonts/QingSongShouXieTi1-2.ttf');
    font-weight: normal;
    font-style: normal;
}