@font-face {
    font-family: 'myFont';
    src: url("今年也要加油鸭.eot"); /* IE9 */
    src: url("今年也要加油鸭.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("今年也要加油鸭.woff") format("woff"), /* chrome、firefox */
    url("今年也要加油鸭.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("今年也要加油鸭.svg#今年也要加油鸭") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


