.contentBox{
    width: 384px;
    height: 347px;
    position: relative;;
    top: 0;
    left: 0;
}
    .pastChecker{
        width: 35px;
        height: 35px;
        opacity: 0;
    }
        .pastChecker1{
            position: absolute;
            top: 0px;
            left: 15px;
        }
        .pastChecker2{
            position: absolute;
            top: 70px;
            left: 15px;
        }
        .pastChecker3{
            position: absolute;
            top: 135px;
            left: 15px;
        }
        .pastChecker4{
            position: absolute;
            top: 203px;
            left: 15px;
        }
        .pastChecker5{
            position: absolute;
            top: 270px;
            left: 14px;
        }
    .pastTodo{
        width: 295px;
        height: 30px;
        background-color: transparent;
        transform: rotate(2deg);
        border: 0;
        font-size: 40px;
        color: rgb(155, 122, 122);
        text-align: center;
        outline: 0;
    }
        .pastTodo1{
            position: absolute;
            top: 8px;
            left: 60px;
        }
        .pastTodo2{
            position: absolute;
            top: 83px;
            left: 60px;
        }
        .pastTodo3{
            position: absolute;
            top: 153px;
            left: 60px;
        }
        .pastTodo4{
            position: absolute;
            top: 215px;
            left: 60px;
        }
        .pastTodo5{
            position: absolute;
            top: 280px;
            left: 60px;
        }