html,body{
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
.view{
    max-width: 100%;
    height: 100vh;
}
.hint{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseLayer{
    max-width: 750px;
    height: auto;
    position: relative;
}
    .bulletinBoard{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 150px;
        left: 0;
    }
    .calendar{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 315px;
        left: 385px;
    }
    .timing{
        width: 65px;
        height: 60px;
        border: 0;
        background-color: transparent;
        font-size: 30px;
        color: rgb(155, 122, 122);
        text-align: center;
        outline: 0;
        position: absolute;
        top: 345px;
        left: 405px;
        transform: rotate(-0.5deg);
        font-family: 'ftmaru400a';
    }
    .garbageCan{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 873px;
        left: 565px;
    }
    .paperAirplane{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 288px;
        left: 135px;
    }
    .pottedPlant1{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 362px;
        left: 521px;
    }
    .todoList{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 541px;
        left: 10px;
    }
    .item:hover{
        transform: rotate(5deg);
    }



    .loader-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #242f3f;
        display:flex;
        justify-content: center;
        align-items: center;
      }
      .loader {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        border: 4px solid #Fff;
        animation: loader 2s infinite ease;
      }
      .loader-inner {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: #fff;
        animation: loader-inner 2s infinite ease-in;
      }
      
      @keyframes loader {
        0% { transform: rotate(0deg);}
        25% { transform: rotate(180deg);}
        50% { transform: rotate(180deg);}
        75% { transform: rotate(360deg);}
        100% { transform: rotate(360deg);}
      }
      
      @keyframes loader-inner {
        0% { height: 0%;}
        25% { height: 0%;}
        50% { height: 100%;}
        75% { height: 100%;}
        100% { height: 0%;}
      }