html,body{
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
.view{
    max-width: 100%;
    height: 100vh;
}
.hint{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseLayer{
    max-width: 750px;
    height: auto;
    position: relative;
}
    .bulletinBoard{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 150px;
        left: 0;
    }
    .calendar{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 315px;
        left: 385px;
    }
    .timing{
        width: 65px;
        height: 60px;
        border: 0;
        background-color: transparent;
        font-size: 30px;
        color: rgb(155, 122, 122);
        text-align: center;
        outline: 0;
        position: absolute;
        top: 345px;
        left: 405px;
        transform: rotate(-0.5deg);
    }
    .garbageCan{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 873px;
        left: 565px;
    }
    .paperAirplane{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 288px;
        left: 135px;
    }
    .pottedPlant1{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 362px;
        left: 521px;
    }
    .todoList{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 541px;
        left: 10px;
    }
    .item:hover{
        transform: rotate(5deg);
    }
