html,body{
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
.view{
    max-width: 100%;
    height: 100%;
}


.baseMap{
    max-width: 750px;
    height: auto;
    position: relative;
}
    .paper{
        width: 750px;
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .TodolistOuterContent{
        width: 390px;
        height: 450px;
        transform: rotate(-12.2deg);
        position: absolute;
        top: 388px;
        left: 135px;
        overflow: scroll;
        margin: 0;
        padding: 0;
    }
        .TodolistContent{
            width: 390px;
            height: 450px;;
            position: relative;
            top: 0;
            left: 0;
            overflow: hidden;
        }
            .paperContent{
                width: 390px;
                height: 450px;
                position: absolute;
                top: 0;
                left: 0;
            }
            .checkBox{
                width: 750px;
                height: auto;
                position: absolute;
                top: -390px;
                left: -180px;
                transform: rotate(11.2deg);
            }
            .a{opacity: 1;}
            .b{opacity: 0;}
            .check{
                max-width: 100%;
                height: auto;
            }
                .check1{
                    position: absolute;
                    top: 5px;
                    left: 28px;
                }
                .check2{
                    position: absolute;
                    top: 85px;
                    left: 28px;
                }
                .check3{
                    position: absolute;
                    top: 175px;
                    left: 30px;
                }
                .check4{
                    position: absolute;
                    top: 265px;
                    left: 30px;
                }
                .check5{
                    position: absolute;
                    top: 365px;
                    left: 30px;
                }

            .todo{
                width: 260px;
                height: 30px;
                border: 0;
                background-color: transparent;
                font-size: 35px;
                color: rgb(155, 122, 122);
                text-align: center;
                outline: 0;
            }
                .todo1{
                    position: absolute;
                    top: 25px;
                    left: 85px;
                }
                .todo2{
                    position: absolute;
                    top: 105px;
                    left: 90px;
                }
                .todo3{
                    position: absolute;
                    top: 193px;
                    left: 93px;
                }
                .todo4{
                    position: absolute;
                    top: 288px;
                    left: 95px;
                }
                .todo5{
                    position: absolute;
                    top: 385px;
                    left: 95px;
                }
            .checker{
                width: 40px;
                height: 40px;
                transform: rotate(11.2deg);
                opacity: 0;
            }
            .checker:checked + .todo{
                text-decoration: line-through;
            }
            .greenBook{
                width: 300px;
                height: 655px;
                position: absolute;
                top: 390px;
                left: 450px;
            }