.TodolistOuterContent{
    width: 390px;
    height: 450px;
    transform: rotate(-12.2deg);
    position: absolute;
    top: 388px;
    left: 135px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}
    .TodolistContent{
        width: 390px;
        height: 450px;;
        position: relative;
        top: 0;
        left: 0;
        overflow: scroll;
        background-image: url("../../img/Todolist/PaperContent.png");
        display: flex;
        flex-direction: column;
    }
        .paperContent{
            width: 390px;
            height: 450px;
            position: absolute;
            top: 0;
            left: 0;
        }

        .a{opacity: 1;}
        .b{opacity: 0;}
        .check{
            max-width: 100%;
            position: relative;
            top: -20px;
        }

        .todo{
            width: 325px;
            height: 100%;
            border: 0;
            background-color: transparent;
            font-size: 36px;
            color: rgb(155, 122, 122);
            text-align: center;
            outline: 0;
            font-family: 'ftmaru400a';
        }

        .checker{
            width: 40px;
            height: 40px;
            opacity: 0;
            transform: rotate(11.2deg);
        }
        
        .itemBox{
            display: flex;
            height: 80px;
            max-width: 380px;
        }
        .CheckBox {
            position: relative;
            transform: rotate(11.2deg);
        }
        .checkLabel {
            position: absolute;
            top: 0;
            left: 0;
        }
        .InputBox {
            display: flex;
            flex-direction: column;
        }
        .TodolistContent :first-child {
            margin-top: 8px;
        }
        .done{
            text-decoration: line-through;
        }
        .line img {
            max-width: 100%;
        }