html,body{
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    max-zoom: 0.1;
}
.view{
    max-width: 100%;
    height: 100%;
}
.hint{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseLayer{
    max-width: 750px;
    height: auto;
    position: relative;
}
    .bulletinBoard{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 150px;
        left: 0;
    }
    .calendar{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 315px;
        left: 385px;
    }
    .garbageCan{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 873px;
        left: 565px;
    }
    .paperAirplane{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 288px;
        left: 135px;
    }
    .pottedPlant1{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 362px;
        left: 521px;
    }
    .todoList{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 541px;
        left: 10px;
    }
    .item:hover{
        transform: rotate(5deg);
    }
