.body2{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        background-image: url(../imgs/background2.png);
        position: fixed;
        top: 0px;
        padding:0;
        border: 0;
    }
#addphotos{
    top: 22%;
    left: 60%;
    position: absolute;
    background-image: url(../imgs/addphotos.png);
    height: 20vh;
    width: 20vh;
    background-repeat: no-repeat;
}
.pb1{
    position: absolute;
    top: 28%;
    left: 18%;
    background-image:url(../imgs/pb1.png) ;
    height: 20vh;
    width: 20vh;
    background-repeat: no-repeat;
}
.pb1::before{
    display: block;
    content: url(../imgs/peg1.png);
    position: relative;
    left: 7.2vh;
}
.pb2{
    position: absolute;
    top: 46%;
    left: 50%;
    background-image:url(../imgs/pb2.png) ;
    height: 20vh;
    width: 20vh;
    background-repeat: no-repeat;
}
.pb2::before{
    display: block;
    content: url(../imgs/peg2.png);
    position: relative;
    left: 7vh;
    top:-1vh;
}
.pb3{
    position: absolute;
    top: 62%;
    left: 25%;
    background-image:url(../imgs/pb3.png) ;
    height: 20vh;
    width: 20vh;
    background-repeat: no-repeat;
}
.pb3::before{
    display: block;
    content: url(../imgs/peg3.png);
    position: relative;
    left: 6.5vh;
    top:-0.5vh;
}